*{
   margin: 0; 
}

 body{
   background-color: #89B8C2;
}
img{
    display: block;
    max-width: 100%;
}
main{
    background-color: #ffffff;
    margin: 0 auto;
  
}
@media screen and (min-width: 412px){
    main{
       max-width: 356px;
    border-radius: 8px 8px 0px 0px;
        padding: 16px;}
}
@media screen and (min-width: 620px){
    main{
        max-width: 620px;
        padding: 16px 30px;}
}
@media screen and (min-width: 820px){
    main {
    max-width: 680px;
    border-radius: 16px 16px 0px 0px;
    padding: 30px 60px;}
}
.menu{
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
color: #000000;
}

@media screen and (min-width: 620px){
    .menu {
        display: none;
     }
}

 
    

header{
    background-color: #CCE9F4;
    border-radius: 8px;
    
    
}

    @media screen and (min-width: 412px) and (max-width: 620px){
   
        header
        { max-width: 386px;
        margin-top: 12px;
        padding-bottom: 5px;
        margin: 0 auto;
        margin-bottom: 16px;
        text-align: center;}
    } 

    @media screen and (min-width: 620px){
        header
        {max-width: 358px;
        margin-top: 24px;
        padding: 0;
        margin-bottom: 16px;}
        .container{
            width: 680px;
            margin: 0 auto;
        }
    }
    @media screen and (min-width: 820px){
        header{  
        max-width: 800px;
        margin-top: 65px;
        padding: 4px 0px;
        margin-bottom: 16px;

        display: flex;
        justify-content: center;}
        .container{
            width: 800px;
            margin: 0 auto;
        }
    }


    

ul{
    list-style: none;
    display: flex;
    padding: 0;
    



  }
  @media screen and (min-width: 412px){
    ul{
        flex-direction: column;
    }
   
}
    @media screen and (min-width: 620px){
        ul{
            flex-direction: row;
        }
}
@media screen and (min-width: 820px){
       ul{
        gap: 10px;
       }
}

h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    margin-bottom: 16px;
    margin-top: 16px;
}
@media screen and (min-width: 412px){
    h1    
      {  font-size: 36px;
        line-height: 51px;}
    
      }

@media screen and (min-width: 620px){
    h1
{font-size: 52px;
line-height: 73px;}
}

.block{
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 8px;
    padding: 8px;

}
h2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    
    color: black;
}
@media screen and (min-width: 412px){
    h2    
      { font-size: 24px;
        line-height: 28px;}
    
      }

@media screen and (min-width: 620px){
    h2
{   font-size: 28px;
    line-height: 32px;}
}
p{
font-family: 'Arial';
font-style: normal;
font-weight: 400;

}

@media screen and (min-width: 412px){
    p    
      { font-size: 12px;
        line-height: 16px;}
    
      }

@media screen and (min-width: 620px){
    p
{  font-size: 14px;
    line-height: 21px;}

section:not(:last-child){
    margin-bottom: 16px;
}
figure{
    background-color: #CCE9F4; 
    }
    
    @media screen and (min-width: 412px){
        figure{ 
            max-width: 356px;
            padding: 0;
            border-radius: 10px;
            margin-top: 16px;
       }
    }
    @media screen and (min-width: 620px){
        figure{
        max-width: 580px;
        padding: 20px 20px 10px 20px;
        margin-top: 8px;
          }
    }
    @media screen and (min-width: 820px){
       figure{
        max-width: 640px; 
        border-radius: 8px;
        margin-top: 16px;
         }
    }


}
figcaption{
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
ol{
   list-style: none;
}
.tiem{
    width: 100% - 16px;
    padding: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    
    color: #000000
}
@media screen and (min-width: 412px){
    .tiem   
      { font-size: 12px;
        line-height: 16px;}
    
      }

@media screen and (min-width: 620px){
    .tiem
    { font-size: 14px;
        line-height: 21px;}
}


.tiem:not(:last-child){
    border-bottom: 1px solid #89B8C2;

}
.tiem:nth-child(odd){
    background-color:#89B8C2 ;
}
.tiem:nth-child(4){
    background-color: #F7FFEF;
}
.link{
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:  #006EBE;
}
.link:visited{
    color: #0B257D;
}
.link:hover{
    background-color:#FFFFFF;
    color: #006EBE;
    border-radius: 4px;
    cursor: url(./img/cursor-hover.svg), auto; 
}
footer{
    width: 800px;
    background-color: #CCE9F4;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #000000;
margin-bottom: 38px;
border-radius: 0px 0px 8px 8px
    
    
}
@media screen and (min-width: 412px){
    footer   
      {max-width: 380px; }
    
      }

@media screen and (min-width: 620px){
    footer
    { max-width: 680px;}
}
@media screen and (min-width: 820px){
    footer{
    max-width: 800px;
    }
    
 }
 